{
    "root": true,
    "extends": [
        "plugin:jsx-a11y/recommended",
        "plugin:prettier/recommended",
        "prettier/react",
        "prettier",
        "prettier/standard",
        "prettier/flowtype"
    ],
    "plugins": [
        "jsx-a11y",
        "html",
        "prettier",
        "react-hooks",
        "jam3"
    ],
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "rules": {
        "prettier/prettier": "error"
    }
}